.turniriParent{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.turniriKartice{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 4%;
    margin-right: 4%;
}

.karticaTurnir{
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    width: 25rem;
    height: 25rem;
    border: 1px solid rgb(155, 111, 196);
    border-radius: 20px;
    background-color: rgba(143, 170, 219, 0.24);
    /* cursor: pointer; */
    box-shadow: 3px 3px 5px
}

.karticaTurnirSelect{
    margin-top: 2.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    width: 25rem;
    height: 25rem;
    /* border: 3px solid rgb(155, 111, 196); */
    border-radius: 20px;
    background-color: rgba(143, 170, 219, 0.24);
    
    /* transform: scale(1.02); */
    border: 3px solid rgb(155, 111, 196);
    transition: 1s;
    box-shadow: 5px 5px 6px
}

/* .karticaTurnir:focus{
    transform: scale(1.02);
    border: 4px solid rgb(155, 111, 196);
    transition: 0.7s;
} */
.select{
    cursor: pointer;
    border-radius: 50px;
    width: 1.2rem;
    height: 1.2rem;
    background-color: coral;
    border: none;
    /* margin-right: 1.5rem; */
    transform: translateX(0rem);
    transition: 1s;
}

.selectContainer{
    background-color: rgb(236, 205, 148);
    width: 4rem;
    border-radius: 30px;
    margin-bottom: 0.3rem;
    display: flex;

}

.selected{
    cursor: pointer;
    transform: translateX(2.7rem);
    transition: 1s;
    border-radius: 50px;
    width: 1.2rem;
    height: 1.2rem;
    background-color: coral;
    border: none;
    /* margin-right: -1.5rem; */
}

.karticaTop{
    top: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.turnirSudionici{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
}

.sudionik{
    width: 4rem;
    height: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 0.5px solid plum;
    text-align: center;
    border-radius: 20px;
    font-size: medium;
    word-wrap: inherit;
}

.bracket{
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    width: 95%;
    height: 70%;
    /* border-radius: 20px; */
    margin-top: 0.8rem;
}

.round16{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    border: 1px solid gray;
    width: 20%;
}

.round8{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 20%;
}

.round4{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 20%;
}

.round2{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 20%;
}

.round1{
    display: flex;
    flex-direction: column;
    
    border: 1px solid gray;
    width: 20%;
}

.sudionikRound{
    /* margin: 0.8px; */
    /* height: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    height: 5.52%;
    font-size: 0.8rem;
    text-align: center;
    border-top: 1px solid gray;
}

.sudionikRoundWin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    height: 5.52%;
    font-size: 0.8rem;
    text-align: center;
    background-color: rgb(63, 224, 57);
    border-top: 1px solid gray;
}

.sudionikRound8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    height: 17%;
    font-size: 1rem;
    text-align: center;
    border: 1px solid gray;
}

.sudionikRound8Win{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    height: 17%;
    font-size: 1rem;
    text-align: center;
    border: 1px solid gray;
    background-color: rgb(63, 224, 57);
}

.sudionikRound4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    height: 25%;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid gray;
}

.sudionikRound4Win{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    height: 25%;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid gray;
    background-color: rgb(63, 224, 57);
}

.sudionikRound2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    height: 50%;
    font-size:1.4rem;
    text-align: center;
    border: 1px solid gray;
}


.sudionikRound2Win{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    height: 50%;
    font-size:1.4rem;
    text-align: center;
    border: 1px solid gray;
    background-color: rgb(63, 224, 57);
}

.sudionikRound1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    font-size: 2rem;
    border: 1px solid gray;
    /* border: 2px solid black; */
}

.sudionikRound1Win{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    font-size: 1.7rem;
    border-top: 1px solid gray;
    border: 2px solid black;
    background-color: rgb(57, 224, 196);
}

.sudionikRound:nth-child(2n) {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.sudionikRoundWin:nth-child(2n) {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.sudionikRound:nth-child(1n) {
    border-left: 2px solid black;
    border-right: 2px solid black;
    /* border-top: 2px solid black; */
}

.sudionikRoundWin:nth-child(1n) {
    border-left: 2px solid black;
    border-right: 2px solid black;
    /* border-top: 2px solid black; */
}

.sudionikRoundWin:nth-child(1){
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.sudionikRound:nth-child(1){
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.sudionikRound8:nth-child(2n) {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.sudionikRound8Win:nth-child(2n) {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.sudionikRound8:nth-child(1n) {
    border-left: 2px solid black;
    border-right: 2px solid black;
    /* border-top: 2px solid black; */
}

.sudionikRound8Win:nth-child(1n) {
    border-left: 2px solid black;
    border-right: 2px solid black;
    /* border-top: 2px solid black; */
}

.sudionikRound8Win:nth-child(1){
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.sudionikRound8:nth-child(1){
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.sudionikRound4:nth-child(2n) {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.sudionikRound4Win:nth-child(2n) {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.sudionikRound4:nth-child(1n) {
    border-left: 2px solid black;
    border-right: 2px solid black;
    /* border-top: 2px solid black; */
}

.sudionikRound4Win:nth-child(1n) {
    border-left: 2px solid black;
    border-right: 2px solid black;
    /* border-top: 2px solid black; */
}

.sudionikRound4Win:nth-child(1){
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.sudionikRound4:nth-child(1){
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.sudionikRound2:nth-child(2n) {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.sudionikRound2Win:nth-child(2n) {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.sudionikRound2:nth-child(1n) {
    border-left: 2px solid black;
    border-right: 2px solid black;
    /* border-top: 2px solid black; */
}

.sudionikRound2Win:nth-child(1n) {
    border-left: 2px solid black;
    border-right: 2px solid black;
    /* border-top: 2px solid black; */
}

.sudionikRound2Win:nth-child(1){
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.sudionikRound2:nth-child(1){
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.botunTurnir{
    background-color: rgba(206, 147, 224, 0.178);
    width: 7rem;
    border: 1px solid rgb(223, 20, 223);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
    /* transition: 1s; */
}

.botunTurnir:hover{
    background-color: rgb(206, 147, 224);
    transition: 1s;    
}

.hiddenForm{
    visibility: hidden
}

/* .sudionik::before{
    content:'';
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 50%;
    height: 50%;
    margin-left: 100%;
    margin-bottom: 50%;
    top: 0;
    border-top: 1px solid grey;
    position: inherit;
}     */

/* 
.sudionik::after{
    content:'';
    display:inline-block;
    width:80%; height:80%;
    margin-right:-100%;
    margin-right: -100%;
    margin-bottom: 0.5rem;
    border-bottom:1px solid gray;
} */


.kocka{
    border: 1px solid grey;
    width: 7rem;
    height: 3rem;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.kockaZelena{
    border: 1px solid grey;
    width: 7rem;
    height: 3rem;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 255, 34);
}

.crta{
    border: 1px solid black;
    height: 5rem;
}

.crtaGornja{
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 2rem;
    height: 1.5rem;
    /* margin-top: 10%; */
}

.crtaDonja{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 2rem;
    height: 1.5rem;
    /* margin-top: 25%; */
}

.crtaRavna1{
    border-bottom: 1px solid black;
    width: 2rem;
    /* height: ; */
    /* margin-bottom: 31%;
    padding: 0; */
    margin-top: 255%;
    /* justify-content: space-around; */
}

.crtaRavna2{
    border-bottom: 1px solid black;
    width: 2rem;
    margin-top: 207%;
}

.crtaRavna3{
    border-bottom: 1px solid black;
    width: 2rem;
    margin-top: 512%;
}

.crtaRavna2{
    border-bottom: 1px solid black;
    width: 2rem;
    margin-top: 207%;
}

.crtaRavna18{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    height: 4.5rem;
    width: 2rem;
    margin-top: 360%;
    margin-left: -3%;
}

.crtaRavna28{
    border-left: 1px solid black;
    border-top: 1px solid black;
    height: 4.5rem;
    width: 2rem;
    margin-bottom: 245%;
    margin-left: -3%;
}

.crtaRavna38{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    height: 4.5rem;
    width: 2rem;
    margin-top: 480%;
    margin-left: -3%;
}

.crtaFinaleGornja{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    height: 12rem;
    width: 2rem;
    margin-top: 730%;
    margin-left: -3%;
}

.crtaFinaleDonja{
    border-left: 1px solid black;
    border-top: 1px solid black;
    height: 12rem;
    width: 2rem;
    margin-bottom: 730%;
    margin-left: -3%;
}

.kocka2{
    border: 1px solid grey;
    width: 7rem;
    height: 3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.kocka2Zelena{
    border: 1px solid grey;
    width: 7rem;
    height: 3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(0, 255, 34);
}

.turnirSelect{
    background-color: transparent;
    border:rgb(155, 111, 196) 2px solid;
    border-radius: 10px;
    width: 7rem;
    color: rgb(117, 51, 179);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5rem;
}

.turnirSelect:hover{
    background-color: rgb(199, 168, 228);
}

.turnirTablica:hover{
    background-color: rgb(199, 168, 228);
}
.turnirTablica{
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
    background-color: transparent;
    border:rgb(155, 111, 196) 2px solid;
    border-radius: 10px;
    width: 4rem;
    color: rgb(117, 51, 179);
    text-transform: uppercase;
    text-align: center;
}

.kockeParent{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.runda16{
    display: flex;
    flex-direction: column;
}

.runda8{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dvokocka{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.dvocrta16{
    margin-top: 100%;
}

.dvocrta16N{
    margin-top: 200%;
}

.dvokocka8{
    margin-top: 0%;
}

.dvokocka2{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}
/* .runda16:nth-child(2n){
    margin-bottom: 1rem;
} */
/* .runda16crte{

} */