.turniriParent{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.turniriKartice{
    display: flex;
    flex-direction: row;
}