.navbar{
    display: flex;
    justify-content: center;
    position: fixed;
    justify-items: center;
    margin: 0;
    top: 0;
    overflow: visible;
    z-index: 9998;
    background: rgb(230, 245, 177);
    width: 100%;
    height: 3rem;
    text-align: center;
    border-bottom: rgba(164, 167, 167, 0.959) 2px solid;
    text-decoration: none;
    margin-bottom: 0;
}

.botun{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(196, 231, 140);
    cursor: pointer;
    width: 5rem;
}

.botun1{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(196, 231, 140);
    cursor: pointer;
    width: 5rem;
    right: 1rem;
    position: absolute;
}

.navbarKnjige{
    display: flex;
    justify-content: center;
    position: fixed;
    justify-items: center;
    margin: 0;
    top: 0;
    overflow: visible;
    z-index: 9998;
    background: rgb(133, 216, 188);
    width: 100%;
    height: 3rem;
    text-align: center;
    border-bottom: rgba(164, 167, 167, 0.959) 2px solid;
    text-decoration: none;
    margin-bottom: 0;
}

.botunKnjige{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(110, 211, 149);
    cursor: pointer;
    width: 5rem;
}

.botun1Knjige{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(110, 211, 149);
    cursor: pointer;
    width: 5rem;
    right: 1rem;
    position: absolute;
}

.botun2{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(196, 231, 140);
    cursor: pointer;
    width: 5rem;
    left: 1rem;
    position: absolute;
}

.botun2Knjige{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(110, 211, 149);
    cursor: pointer;
    width: 5rem;
    left: 1rem;
    position: absolute;
}

.navbarMarket{
    display: flex;
    justify-content: center;
    position: fixed;
    justify-items: center;
    margin: 0;
    top: 0;
    overflow: visible;
    z-index: 9998;
    background: rgb(200, 207, 205);
    width: 100%;
    height: 3rem;
    text-align: center;
    border-bottom: rgba(164, 167, 167, 0.959) 2px solid;
    text-decoration: none;
    margin-bottom: 0;
}

.botunMarket{
    /* margin-right: 1rem;
    height: 2rem; */
    margin: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(161, 157, 157);
    cursor: pointer;
    width: 5rem;
}

.botun1Market{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(161, 157, 157);
    cursor: pointer;
    width: 5rem;
    right: 1rem;
    position: absolute;
}

.botun2Market{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(161, 157, 157);
    cursor: pointer;
    width: 5rem;
    left: 1rem;
    position: absolute;
}