.navbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    justify-items: center;
    margin: 0;
    top: 0;
    overflow: visible;
    z-index: 9998;
    background: rgb(230, 245, 177);
    width: 100%;
    height: 3rem;
    text-align: center;
    border-bottom: rgba(164, 167, 167, 0.959) 2px solid;
    text-decoration: none;
    margin-bottom: 0;
}
.navbar2{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    justify-items: center;
    margin: 0;
    top: 0;
    overflow: visible;
    z-index: 9998;
    background: rgb(155, 233, 178);
    width: 100%;
    height: 3rem;
    text-align: center;
    border-bottom: rgba(164, 167, 167, 0.959) 2px solid;
    text-decoration: none;
    margin-bottom: 0;
}

.navbar3{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    justify-items: center;
    margin: 0;
    top: 0;
    overflow: visible;
    z-index: 9998;
    background: rgb(127, 193, 238);
    width: 100%;
    height: 3rem;
    text-align: center;
    border-bottom: rgba(164, 167, 167, 0.959) 2px solid;
    text-decoration: none;
    margin-bottom: 0;
}
.botunY{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 50%;
    background-color: rgb(196, 231, 140);
    cursor: pointer;
    width: 2rem;
    border: 1px solid grey;
}

.botunG{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 50%;
    background-color: rgb(118, 207, 145);
    cursor: pointer;
    width: 2rem;
    border: 1px solid grey;
}

.botunB{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 50%;
    background-color: rgb(106, 168, 226);
    cursor: pointer;
    width: 2rem;
    border: 1px solid grey;
}

.botun1{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(196, 231, 140);
    cursor: pointer;
    width: 5rem;
    right: 1rem;
    position: absolute;
}

.navbarKnjige{
    display: flex;
    justify-content: center;
    position: fixed;
    justify-items: center;
    margin: 0;
    top: 0;
    overflow: visible;
    z-index: 9998;
    background: rgb(133, 216, 188);
    width: 100%;
    height: 3rem;
    text-align: center;
    border-bottom: rgba(164, 167, 167, 0.959) 2px solid;
    text-decoration: none;
    margin-bottom: 0;
}

.botunKnjige{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(110, 211, 149);
    cursor: pointer;
    width: 5rem;
}

.botun1Knjige{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(110, 211, 149);
    cursor: pointer;
    width: 5rem;
    right: 1rem;
    position: absolute;
}

.botun2{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(196, 231, 140);
    cursor: pointer;
    width: 5rem;
    left: 1rem;
    position: absolute;
}

.botun3{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(118, 207, 145);
    cursor: pointer;
    width: 5rem;
    left: 1rem;
    position: absolute;
}

.botun4{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(106, 168, 226);
    cursor: pointer;
    width: 5rem;
    left: 1rem;
    position: absolute;
}

.meniBotun2{
    width: 7rem;
    background-color: rgb(118, 207, 145);
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
}

.meniBotun3{
    width: 7rem;
    background-color: rgb(106, 168, 226);
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
}

.botun2Knjige{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(110, 211, 149);
    cursor: pointer;
    width: 5rem;
    left: 1rem;
    position: absolute;
}

.navbarMarket{
    display: flex;
    justify-content: center;
    position: fixed;
    justify-items: center;
    margin: 0;
    top: 0;
    overflow: visible;
    z-index: 9998;
    background: rgb(200, 207, 205);
    width: 100%;
    height: 3rem;
    text-align: center;
    border-bottom: rgba(164, 167, 167, 0.959) 2px solid;
    text-decoration: none;
    margin-bottom: 0;
}

.meni{
  width: 1rem;
}

.meniTop{
    display: flex;
    flex-direction: row;
}

.meniDeploy{
    margin-left: 1rem;
    margin-top: 2.5rem;
    position: fixed;
    overflow: visible;
    z-index: 9998;
    display: flex;
    flex-direction: column;
}

.meniDeployPodTick{
    margin-left: 8rem;
    margin-top: 8.8rem;
    position: fixed;
    overflow: visible;
    z-index: 9998;
    display: flex;
    flex-direction: column;
}

.meniDeployPodKredit{
    margin-left: 8rem;
    margin-top: 7.5rem;
    position: fixed;
    overflow: visible;
    z-index: 9998;
    display: flex;
    flex-direction: column;
}

.meniDeployPodMarket{
    margin-left: 8rem;
    margin-top: 5rem;
    position: fixed;
    overflow: visible;
    z-index: 9998;
    display: flex;
    flex-direction: column;
}

.meniDeployPodAuti{
    margin-left: 8rem;
    margin-top: 2.5rem;
    position: fixed;
    overflow: visible;
    z-index: 9998;
    display: flex;
    flex-direction: column;
}

.meniDeployPodKnjige{
    margin-left: 8rem;
    margin-top: 3.7rem;
    position: fixed;
    overflow: visible;
    z-index: 9998;
    display: flex;
    flex-direction: column;
}

.meniDeployPodBanka{
    margin-left: 8rem;
    margin-top: 6.2rem;
    position: fixed;
    overflow: visible;
    z-index: 9998;
    display: flex;
    flex-direction: column;
}

.meniBotun{
    width: 7rem;
    background-color: rgb(196, 231, 140);
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
}

.headerParent{
    display: flex;
}

.botunMarket{
    /* margin-right: 1rem;
    height: 2rem; */
    margin: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(161, 157, 157);
    cursor: pointer;
    width: 5rem;
}

.botun1Market{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(161, 157, 157);
    cursor: pointer;
    width: 5rem;
    right: 1rem;
    position: absolute;
}

.botun2Market{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(161, 157, 157);
    cursor: pointer;
    width: 5rem;
    left: 1rem;
    position: absolute;
}