.navbar{
    display: flex;
    justify-content: center;
    position: fixed;
    justify-items: center;
    margin: 0;
    top: 0;
    overflow: visible;
    z-index: 9998;
    background: rgb(230, 245, 177);
    width: 100%;
    height: 3rem;
    text-align: center;
    border-bottom: rgba(164, 167, 167, 0.959) 2px solid;
    text-decoration: none;
    margin-bottom: 0;
}

.botun{
    margin-right: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(110, 160, 95);
    cursor: pointer;
}