.karticeDelete{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
    /* margin-top: 5rem; */
    justify-content: space-between;
}

.delKartica{
    height: 9rem;
    width: 9rem;
    border: 1px solid gray;
    margin: 1rem;
    border-radius: 10px;
    background-color: rgb(215, 235, 130);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.marginDel{
    margin-top: 5rem;
}

.messageDel{
    justify-self: center;
    margin-left: 45%;
}